body
{
    background-color: rgb(22, 20, 20);
    text-align: center;
}

h1
{
    color: rgb(26, 91, 25);
    font-size: xxx-large;
}
.p1
{
   display: inline-block;
   padding-right: 18em;
}
.p2{

    display: inline-block;
    padding-left: 3.5rem
}
.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
  img
  {
    height: 15rem;
  }